<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matterport Angular Sample App</title>
  <!-- Matterport Showcase SDKのインポート -->
  <script src='https://static.matterport.com/showcase-sdk/2.0.1-0-g64e7e88/sdk.js'></script>
</head>

<body>

  <iframe width="853" height="480" src="https://my.matterport.com/show?m=SxQL3iGyoDo&qs=1" frameborder="0"
    allowfullscreen allow="vr" id="showcase_iframe"></iframe>

</body>

</html>